body {
	background-color: #808080;
	padding-top: 40px;
}

.container {
	width: 774px;
	margin: 0 auto;
	padding: 0px;
	background-color: #ffffff;
	border: 1px solid #000000;
}

.column {
	display: inline-block;
	vertical-align: top;
	width: 620px;
	padding: 40px;
	background-color: #ffffff;
}

.sidebar {
	display: inline-block;
	vertical-align: top;
	width: 72px;
	padding: 0;
	border: 0px solid #0000ff;
	 
}

.logo {
	
}

.log img {

}

.nav {

}
