body {
	background-color: #808080;
	padding-top: 40px;
}

.container {
	width: 774px;
	margin: 0 auto;
	padding: 0px;
	background-color: #e0ffff;
	border: 0px solid #000000;
}

.column {
	display: inline-block;
	vertical-align: top;
	padding: 40px;
}

.sidebar {
	display: inline-block;
	vertical-align: top;
	float: right;
	width: 72px;
	padding: 0;
	 
}

.logo {
	
}

.log img {

}

.nav {

}
