---
layout:	default
---

{% for post in paginator.posts %}
	<h2>{{ post.title }}</h2>
	<time>{{ post.date | date_to_string }}</time>
	<span class="category">Category:&nbsp;<a href="/{{post.category}}.html">{{ post.category }}</a></span>
	{{ post.content }}
{% endfor %}

<div class="pagination">
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
	{% else %}
		<span class="previous">Previous</span>
	{% endif %}
	<span class="page_number">Page: {{ paginator.page }} of {{paginator.total_pages }}</span>
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}" class="next">Next</a>
	{% else %}
		<span class="next">Next</span>
	{% endif %}

</div>
