<!DOCTYPE html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
	<meta charset="utf-8" />
    <title>No title</title>
	<meta name="viewport" content="width=device-width, intial-scale=1.0">
	<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="container">
		<div class="column">
			<div class="content">
				{{content}}
			</div>
		</div>
		<div class="sidebar">
			<div class="logo">
				<img src="img/6677ba.png">
			</div>
			<div class="nav">
				{% for link in site.links %}
					<div class="navlink">
					<a target="_top" href="{{link.url}}">{{link.name}}</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</body>


</html>
